<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row ">
        <div class="col">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h3 class="m-b-20">{{title}}</h3>
                    <h2 class="text-center"><span >{{value}}</span></h2>
                    <p class="m-b-20">{{content}}</p>
                </div>
            </div>
        </div>
      </div>
</div>