<html>
  <head>
 
  </head>
  <body>

	<div class="area"></div><nav class="main-menu">
		<div class="logo">
			<img src="assets/images/logo.png" class="logo-img">
		</div>
		
            <ul>
                <li>
                    <a href="manage/dashboard">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                           Dashboard
                        </span>
                    </a>                 
                </li>
 
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-wrench  fa-2x"></i>
                        <span class="nav-text">
                            User-Management
                        </span>
                    </a>                  
                </li>
                <li>
                    <a href="manage/students">
                        <i class="fa fa-users fa-2x"></i>
                        <span class="nav-text">
                            Students
                        </span>
                    </a>
                </li>
                <li>
                    <a href="manage/teachers">
                        <i class="fa fa-users fa-2x"></i>
                        <span class="nav-text">
                           Teachers
                        </span>
                    </a>
                </li>

                <li>
            </ul>

            <ul class="logout">               
				<li>
				<a href="#">
					<i class="fa fa-cogs fa-2x"></i>
					 <span class="nav-text">
						 Settings
					 </span>
				 </a>
			 	</li>

                <li>
                   <a href="login">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
  </body>
    </html>