<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content=
		"width=device-width,initial-scale=1.0">
	<title>side navigation</title>
	<script src= "https://kit.fontawesome.com/bba3432f3f.js" crossorigin="anonymous"></script>

</head>

<body>
	<div >
		<div class="side-nav">
			<a href="#" class="logo">
				<img src="assets/images/emc.jpg" class="logo-img">
			</a>
			<ul class="nav-links">
				<li><a href="#">
						<i class=""></i>
						<p>Dashboard</p>
					</a>
				</li>
				<li><a href="manage/students">
					<i class=""></i>
					<p>Students</p>
				</a>
				</li>
				<li><a href="manage/teachers">
					<i class=""></i>
					<p>Teachers</p>
				</a>
				</li>

				<li ><a href="#" >
					<i class=""></i>
					<p>Setting</p>
				</a>
			    </li>
				<li><a href="#">
						<i class=""></i>
						<p>Logout</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
