<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="whos-speaking-area speakers pad100">
    <div class="container">
        <div class="row mb50">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="speakers xs-mb30">
                    <div class="spk-img">
                        <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="trainer-img" />
                    </div>
                    <div class="spk-info">
                        <h3>Eric Valle</h3>
                        <h6 class="text-primary">Bachelor of Science in Information Technology</h6>
                        <p>3rd Year</p>
                    </div>
                </div>
            </div>
            <!-- /col end-->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="speakers xs-mb30">
                    <div class="spk-img">
                        <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="trainer-img" />
                    </div>
                    <div class="spk-info">
                      <h3>Adam SandCast</h3>
                      <h6 class="text-primary">Bachelor of Science in Information Technology</h6>
                      <p>3rd Year</p>
                    </div>
                </div>
            </div>
            <!-- /col end-->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="speakers xs-mb30">
                    <div class="spk-img">
                        <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="trainer-img" />
                    </div>
                    <div class="spk-info">
                      <h3>Shantal DIzon</h3>
                      <h6 class="text-primary" >Bachelor of Science in Information Technology</h6>
                      <p>3rd Year</p>
                    </div>
                </div>
            </div>
            <!-- /col end-->
            <div class="col-xl-3 col-lg-3 d-md-none d-lg-block col-sm-12">
                <div class="speakers">
                    <div class="spk-img">
                        <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="trainer-img" />
                    </div>
                    <div class="spk-info">
                      <h3>James Uy</h3>
                      <h6 class="text-primary">Bachelor of Science in Information Technology</h6>
                      <p>3rd Year</p>
                    </div>
                </div>
            </div>
            <!-- /col end-->
        </div>
        <!-- /row end-->
    </div>
    <!-- /container end-->
</div>